.features-list {
    @extend %list;
    display: flex;
}

.features-card {
    width: calc((100% - 30px * 3) / 4);
}

.features-card:not(:first-child) {
    margin-left: 30px;
}

.features-card__thumb {
    height: 120px;
    background-color: getColor('tertiary-bg-color');
    border-radius: 4px;
    margin-bottom: 30px;
    text-align: center;
    @extend %centeredFlex;
}

.features-card__title {
    @extend %secondaryTitleFont;
    margin-top: 0;
    margin-bottom: 10px;
}

.features-card__text {
    @extend %primaryTextFont;
    margin: 0;
}