.logo {
    @extend %link;
    @extend %page-headerLogoFont;
}

.logo--accent {
    color: getColor('accent-color');
}

.page-footer__logo {
    @extend %link;
    @extend %page-footerLogoFont;

    display: inline-block;
    margin-bottom: 20px;
    margin-right: 0;
}