.form-send-out {
    width: 570px;
}

.form-send-out__title {
    @extend %tertiaryTitleFont;

    margin: 0 0 20px 0;
}

.form-send-out__label {
    display: flex;
}

.form-send-out__input {
    @extend %page-footerInputPlaceholderFont;

    margin-right: 12px;
    padding: 15px 16px;
    flex-grow: 1;

    border: 1px solid getColor('send-out-input-border-color');
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px getColor('primary-shadow-color'));
    background-color: transparent;

    &::placeholder {
        @extend %page-footerInputPlaceholderFont;
    }
}

.form-send-out__icon {
    margin-left: 10px;
}