@mixin font($family: 'Roboto', $style: normal, $weight: 400, $size: 14px, $line-height: 1.71, $spacing: 0.03em, $color: getColor('primary-text-color')) {
  font-family: $family, sans-serif;
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  letter-spacing: $spacing;
  color: $color;
}

// font-family: 'Roboto';
// font-style: normal;
// font-weight: 500;
// font-size: 14px;
// line-height: 16px;
// letter-spacing: 0.02em;

// color: #757575;

@mixin transition($property) {
    transition: $property 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

